.container {
  margin: 0 auto;
}

.container-content {
  max-width: 50em;
}
.TotalCases {
  background: #212121;
  border-radius: 4px;
  text-align: center;
  margin: 5px 0 5px 10px;
  padding: 10px 0;
  > small {
    margin: 5px;
    font-size: 20px;
    font-family: serif;
    color: #fff;
  }
  > p {
    padding: 5px;
    font-size: 32px;
    color: #e60000;
    font-family: serif;
    font-weight: bold;
    letter-spacing: 1.5px;

    margin: 0px;
  }
}
.countryCases {
  background: #212121;
  border: 1px solid #333;
  width: 230px;
  height: 67.6vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0 0 5px 10px;
  padding-bottom: 5px;
  border-radius: 4px;
  > p {
    font-family: Serif;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #bdbdbd;
    letter-spacing: 0.5px;
  }
  li {
    border-bottom: 1px solid #5c5c5c;
    font-family: serif;
    margin: 10px;
    > div {
      margin-bottom: 5px;
    }
  }
  span {
    color: #e60000;
    font-size: 16px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    & + span {
      margin-left: 5px;
      font-size: 16px;
      color: #d6d6d6;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  }
}
.contentCases {
  display: flex;
  flex-direction: column;
  background: #212121;
  border: 1px solid #333;
  border-radius: 4px;
  margin: 5px;
  width: auto;
  height: 80vh;
  text-align: center;

  > div {
    display: flex;
    flex-direction: column;
    small {
      font-size: 14px;
      font-family: serif;
      color: #fff;
    }
    > p {
      margin: 0;
      color: #fff;
      font-size: 32px;
    }
  }
  > ul {
    overflow: auto;
    > li {
      margin: 5px;
      border-bottom: 1px solid #bdbdbd;
    }
  }
}
.CountryCases {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  > span {
    color: #fff;
    font-size: 14px;
    & + span {
      color: #bdbdbd;
    }
  }
}
